.product-list{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 10px;
}

.product-list article{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-list  a{
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ff4500;
    background: none;
    margin-top: 10px;
    color: #ff4500;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    margin-bottom: 5px;
}

#vis-del button{
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ff4500;
    background: none;
    margin-top: 10px;
    color: #ff4500;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    margin-bottom: 5px;
}

#vis-del{
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#vis-del a{
    width: 30%;
}

.product-list a:hover{
    color: #fff;
    background-color: #ff4500;
}

.product-list .navigation{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;    
}

.product-list .navigation button{
    padding: 10px;
    border-radius: 10px;
    border: 0;
    background: #ff4500;
    color: #fff;
    font-size: 15px;
    font-weight: bold; 
    cursor: pointer;
}

.product-list .navigation button[disabled]{
    opacity: 0.5;
    cursor: default;
}

.product-list .navigation button[notdisabled]:hover{
    opacity: 0.7;
}

#newProduct{
    background-color: #ff4500;
    color: #fff;
}

.div-newProduct{
    display: flex;
    justify-content: space-between;
}